.margin-bottom-10 {
    margin-bottom: 10px;
}

.fillWidth {
    width: 100%;
}

.mymenu {
    background-color: #ef4e3a;
}

.mymargin {
    margin-right: 30px;
    color: #ef4e3a;
}

.myset {
    text-align: center;
}

.customicon {
    color: #ef4e3a;
}

.togglewidth {
    width: 101%;
}

.mybtn {
    margin-bottom: 10px;
}

.mytog {
    margin-top: 40px;
}